<!doctype html>
<html lang="en">
<head>
	{{> header}}
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
</head>
<body>
{{> navigation }}
<main>
	<div id="home" class="container">
		<div class="hero">
			<img src="/resources/images/HLS Logo & Moto Final White@2x.png" alt="Heavy Light Studios Logo">
		</div>
		{{{html}}}
	</div>
	{{> footer }}
</main>
</body>
<script>
	var typed = new Typed('#moto-expanded', {
		strings: [
			"turning your design into reality. ",
			"turning your design into reality. ",
			"developing your ideas into reality. ",
			"defying your expectations. "],
		typeSpeed: 40,
		backSpeed: 20,
		backDelay: 3000,
		showCursor: false,
		startDelay: 4000
	});
</script>
</html>