<!doctype html>
<html lang="en">
<head>
	{{> header}}
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
</head>
<body>
{{> navigation }}
<main>
	<div id="about" class="container">
		<div class="hero">
			<img src="/resources/images/HLS Logo Long Light@2x.png" alt="Heavy Light Studios Logo">
			<div class="hero-text">
				{{{html}}}
			</div>
		</div>
		<div class="content">
			<div id="about-team-header">
				<h2>Meet the <br><span>Team</span></h2>
			</div>
		</div>
	</div>
	{{> footer }}
</main>
</body>
</html>