<!doctype html>
<html lang="en">
<head>
	{{> header}}
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
</head>
<body>
{{> navigation }}
<main>
	<div id="about" class="container">
		<div class="hero">
		</div>
		<div class="content">
			<div class="hero-text">
				{{{html}}}
			</div>
		</div>
	</div>
	{{> footer }}
</main>
</body>
</html>