<!doctype html>
<html lang="en">
<head>
	{{> header}}
</head>
<body>
<main>
	{{> navigation }}
	<div class="container">
		<div class="hero">
			<img src="/resources/images/HLS Logo & Moto Final White@2x.png" alt="Heavy Light Studios Logo">
		</div>
		{{{html}}}
	</div>
</main>
</body>
</html>