html {
	background-color: #000000;
	color: #FFFFFF;
}

body {
	margin: 0;
}

heavy-navbar {
	/* General Navbar */
	--heavy-navbar-background: #000000;
	--heavy-navbar-color: #FFFFFF;
	--heavy-navbar-hover-color: #DED016;

}