html {
	background-color: #000000;
	color: #FFFFFF;
}

body {
	margin: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px 1fr 80px;
}

heavy-navbar {
	/* General Navbar */
	--heavy-navbar-background: #000000;
	--heavy-navbar-color: #FFFFFF;
	--heavy-navbar-hover-color: #DED016;

	--heavy-navbar-a-font-family: 'Roboto', sans-serif;
}

.container {
	grid-row-start: 2;
	grid-row-end: 3;

	min-height: calc(100vh - 160px);
	text-align: center;
}

.container p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
}

.hero img {
	max-width: 100%;
	height: auto;
}

footer {
	grid-row-start: 3;
	grid-row-end: 4;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	padding-bottom: 10px;
}

footer > a {
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
}

footer > p {
	grid-row-start: 3;
	grid-row-end: 4;
	margin-top: 0;
	padding-top: 5px;
	text-align: center;
}