html {
	background-color: #000000;
	color: #FFFFFF;
}

body {
	margin: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px calc(100vh - 180px) 100px;
}

heavy-navbar {
	/* General Navbar */
	--heavy-navbar-background: #000000;
	--heavy-navbar-color: #FFFFFF;
	--heavy-navbar-hover-color: #FED016;

	--heavy-navbar-a-font-family: 'Roboto', sans-serif;
}

.container {
	grid-row-start: 2;
	grid-row-end: 3;

	min-height: calc(100vh - 180px);
	text-align: center;
}

#home p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
}

.hero img {
	max-width: 100%;
	height: auto;
}

#about p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
}

#about > .content {
	display: grid;
	grid-template-columns: auto 380px auto;
	grid-template-rows: auto 1fr 1fr;
}

#about .hero-text {
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	text-align: start;
}

#about-team-header {
	color: #FED016;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.5em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	line-height: 3em;
}

#about-team-header span {
	font-size: 3em;
}

@media screen and (max-width: 480px) {
	#about > .content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	#about-team-header {
		grid-column: 1;
		grid-row: 1;
	}


}

footer {
	grid-row-start: 3;
	grid-row-end: 4;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	margin-bottom: 10px;
}

footer > a {
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
}

footer > p {
	grid-row-start: 3;
	grid-row-end: 4;
	margin-top: 0;
	padding-top: 5px;
	text-align: center;
}

.black-text {
	color: #000000;
}