<heavy-navbar item-count="3" position="fixed">
	<a onclick="jumpTo('home')" slot="item-1">Home</a>
	<a onclick="jumpTo('about')" onclick="" slot="item-2">About</a>
	<a onclick="jumpTo('contact')" onclick="" slot="item-3">Contact</a>
</heavy-navbar>