<heavy-navbar item-count="3" position="fixed">
	<a href="/" slot="item-1">Home</a>
	<a href="/about" onclick="jumpTo('about')" onclick="" slot="item-2">About</a>
	<a href="/contact" onclick="jumpTo('contact')" onclick="" slot="item-3">Contact</a>
</heavy-navbar>